<div class="container">
  <h2 class="text-primary">Using Module</h2>
  
  <div class="my-3">
      <button (click)="showModalDialog()" class="btn btn-success">Show Dialog</button>
  </div>

</div>

<div id="modal-dialog" class="modal">
  <app-modal-dialog>

    <form class="form">
      <div class="form-group">
        <input type="text" placeholder="Enter Text">
      </div>
      <div class="form-group">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, enim facere est praesentium debitis minima ex dolorum amet fugiat, harum accusamus, inventore aperiam! Ex molestiae reprehenderit eum quos officiis sunt.</p>
      </div>
    </form>

  </app-modal-dialog>
</div>