<div class="container d-flex">
    <a [routerLink]="['/providerTest01']" routerLinkActive="router-link-active" class="btn btn-primary">Provider Test01</a>

    <a [routerLink]="['/providerTest02']" routerLinkActive="router-link-active" class="btn btn-primary">Provider Test02</a>

    <a [routerLink]="['/providerTest03']" routerLinkActive="router-link-active" class="btn btn-primary">Provider Test03</a>

    <a [routerLink]="['/providerTest04']" routerLinkActive="router-link-active" class="btn btn-primary">Provider Test04</a>

    <a [routerLink]="['/providerTest05']" routerLinkActive="router-link-active" class="btn btn-primary">Provider Test05</a>

    <a [routerLink]="['/providerTest06']" routerLinkActive="router-link-active" class="btn btn-primary">Provider Test06</a>
    
    <a [routerLink]="['/providerTest07']" routerLinkActive="router-link-active" class="btn btn-primary">Provider Test07</a>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>